<!--The content below is only a placeholder and can be replaced.-->

<div  class="container">
  <div class="welcome">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
<!--  
  <div class="start" *ngIf="!started">
    This is where you can play the {{title}}, select the grid size of your game
    
     <div class="form">

      <form class="form-inline">
        <input [(ngModel)]=" columns " placeholder="columns" class="form-control mb-2 mr-sm-2 mb-sm-0" style="width: 100px;" type="number" value="8" name="columns">
        x &nbsp;
        <input [(ngModel)]=" rows " placeholder="rows" class="form-control mb-2 mr-sm-2 mb-sm-0" style="width: 100px;" type="number" value="6" name="rows"> 

         <button type="button" class="btn btn-primary" (click)="start()">Start</button>
     
      </form>
    </div> 

  </div> 
-->
    <router-outlet></router-outlet>
  
</div>